[user]
	email = YOUR_EMAIL@example.com  # CHANGE THIS
	name = Your Name                # CHANGE THIS
	# signingkey = YOUR_SSH_KEY     # ADD YOUR SSH SIGNING KEY HERE
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
	gpgsign = true
[gpg]
	format = ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesfile = ~/.gitignore_global
	# hooksPath = /path/to/your/hooks  # Optional: Add if you use global git hooks
[pull] 
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# [safe]
	# directory = /path/to/safe/repo  # Optional: Add safe directories if needed

# [include]
	# path = ~/.config/gitsign/gitconfig  # Optional: Include additional git config

# [maintenance]
	# repo = /path/to/repo  # Optional: Add repos for git maintenance
[credential]
	helper = store
